node_modules
gh-pages/index.js
gh-pages/index.js.map
gh-pages/example.js
gh-pages/discovery-worker.js
gh-pages/socket-worker.js
gh-pages/trezor-crypto.js
gh-pages/example.js.map
.idea
.nyc_output


# Npm library
# lib

# tmp for npm test
docker_test
example
fastxpub
gh-pages
src
test
test_helpers
type
webpack
.babelrc
.eslintrc
.gitmodules
.travis.yml
karma.conf.js-bitcore
karma.conf.js-discovery
Makefile
yarn.lock


# Example directories
example
gh-pages
docker_test

# Dependency directory
node_modules

# OSX
.DS_Store

# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
.yarnclean
.nyc_output